@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css); 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	text-decoration: none;
	text-align: center;
	background-color: black;
	opacity: .8;
}
.container{
	max-width: 800px;
	margin: auto;
	position: relative;
}
.icon{
	width: 25px;
	line-height: 40px;
	background: black;
	color: white;
	text-align: center;
}
.left{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
}
.right{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
}
#h1{
	margin: 0;
	padding: 40px 60px 55px 44px;
	font-weight: bold;
	font-size: 50px;
	color: #D76D6D;
	text-align: center;
	background-color: black;
	opacity: .8;
}
#h2{
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
	background-color: black;
	opacity: .8;
}
.nav ul{
	list-style: none;
	background: black;
	text-align: center;
	padding: 0;
	margin: 0;
	opacity: .8;
}
.nav li{
	display: inline-block;
}
.nav a{
	text-decoration: none;
	color: white;
	width: 200px;
	display: block;
	padding: 15px;
	font-size: 20px;
	font-family: sans-serif;
}
.nav a:hover{
	background: #D76D6D;
	transition:0.4s;
}